<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar style="background-color: #6b76ff" *ngIf="!manageMode">
  <mat-toolbar-row>
    <span>Welcome to {{ title }}!</span>
    <span class="spacer"></span>
    <button mat-raised-button style="background-color: #c8e4fe" (click)="clickAbout()">About</button>
    <button mat-raised-button style="background-color: #c8e4fe" (click)="clickSignUp()" *ngIf="!isLoggedIn">Sign Up</button>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickLogin()" *ngIf="!isLoggedIn">Login</button>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickManage()" *ngIf="isLoggedIn && isManager">Manage Mode</button>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickCart()" *ngIf="isLoggedIn">My Cart</button>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickList()" *ngIf="isLoggedIn">Lists</button>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickLogout()" *ngIf="isLoggedIn">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar style="background-color: darkred" *ngIf="manageMode">
  <mat-toolbar-row>
    <span>Manage Mode!</span>
    <span class="spacer"></span>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickUser()" *ngIf="isLoggedIn && isManager">User...</button>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickAddItem()" *ngIf="isLoggedIn && isManager">Add Item</button>
    <button mat-raised-button style="background-color: #feffe0" (click)="clickManage()" *ngIf="isLoggedIn && isManager">User Mode</button>
  </mat-toolbar-row>
</mat-toolbar>


<app-shelf></app-shelf>

<mat-toolbar style="background-color: #6b76ff" >
  <mat-toolbar-row>
    <a (click)="clickPolicy()">Policy ... </a>
    <span class="spacer"></span>
    <a (click)="clickDcma()">Request ... </a>
  </mat-toolbar-row>
</mat-toolbar>

<app-signup *ngIf="showSignUp" (canceled)="cancelSignup()"></app-signup>
<app-login *ngIf="showLogin" (canceled)="cancelLogin()"></app-login>

