<div *ngIf="!manageMode">
  <h2 mat-dialog-title>{{data.item.name}}</h2>
  <div mat-dialog-content style="text-align: center">
    <p>Price: ${{data.item.price}}</p>
    <p>Sold: {{data.item.sold}}</p>
    <p>Available: {{data.item.available}}</p>
    <p>{{data.item.detail}}</p>
    <app-comment [item]="data.item" [isLogin]="data.isLogin"></app-comment>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="addCart()" *ngIf="data.isLogin">Add to Cart</button>
    <button mat-button (click)="addList()" *ngIf="data.isLogin">Add to WishList</button>
    <button mat-button (click)="addComment()" *ngIf="data.isLogin">Add Comment</button>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</div>

<div *ngIf="manageMode">
  <h3>Modify Item</h3>
  <div mat-dialog-content>
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
      <mat-form-field style="width: 80%;"  [floatLabel]="auto">
        <input matInput type="text" formControlName="name" placeholder="Item Name">
        <mat-error *ngIf="name.invalid">Name is required!</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 80%;"  [floatLabel]="auto">
        <input matInput type="number" formControlName="price" placeholder="Item price">
        <mat-error *ngIf="price.invalid">Price is required!</mat-error>
      </mat-form-field>

      <mat-form-field style="width: 80%;"  [floatLabel]="auto">
        <input matInput type="number" formControlName="sold" placeholder="Item sold">
      </mat-form-field>

      <mat-form-field style="width: 80%;"  [floatLabel]="auto">
        <input matInput type="number" formControlName="available" placeholder="Item available">
      </mat-form-field>

      <mat-form-field style="width: 80%;"  [floatLabel]="auto">
        <textarea matInput type="text" formControlName="detail" placeholder="Item detail"></textarea>
      </mat-form-field>

      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!addItemForm.valid">Update</button>
      <button mat-raised-button color="warn" type="button" (click)="deleteItem()">Delete</button>
      <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    </form>
    <app-comment [item]="data.item" [isLogin]="data.isLogin"></app-comment>
  </div>
</div>
