<div *ngIf="!confirm&&(!manageMode)">
  <h1>Intro to Request a DCMA Request</h1>
  <p>Click Okay to fill the request form</p>
  <p>State the object you want to takedown and the reason</p>
  <p>leave your contact infomation, our manager will contact you in a few days</p>
  <button (click)="confirm=!confirm">Okay</button>
</div>
<div *ngIf="confirm&&(!manageMode)">
  <h3>Start a Request</h3>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput type="text" formControlName="issuer" placeholder="Your Name">
      <mat-error *ngIf="issuer.invalid">Please input</mat-error>
    </mat-form-field>

    <br>


    <mat-form-field style="width: 80%;"  [floatLabel]="auto">
      <textarea matInput type="text" formControlName="content" placeholder="Content"></textarea>
      <mat-error *ngIf="content.invalid">Comment content is required!</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput type="text" formControlName="contact" placeholder="Contact">
      <mat-error *ngIf="contact.invalid">Please input</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!requestForm.valid">Submit</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>

  </form>
</div>
<div *ngIf="(manageMode)">
  <h3>Handle DCMA Request</h3>
  <mat-divider></mat-divider>
  <div *ngFor="let request of requests">
    <h4>Issuer: {{request.issuer}}</h4>
    <span>Content: </span> {{request.content}}<br>
    <span>Contact: </span> {{request.contact}}<br>
    <span>Done: </span>
    <mat-slide-toggle
    [(ngModel)]="request.done"
    (change)="changeDone(request)"
    color="warn"
  ></mat-slide-toggle>
    <mat-divider></mat-divider>
  </div>
  <button (click)="loadRequest()">load request</button>
</div>
