<div class="shelf" *ngIf="!isMore && !manageMode">
  <app-item *ngFor="let item of limitedItem" [item]="item" [isLogin]="getLogin()">
  </app-item>
  <br>
  <button style="width: 100%;" mat-flat-button type="button" (click)="showMore()">more...</button>
</div>

<div class="shelf" *ngIf="isMore && !manageMode">
  <app-item (e)="updateData()" *ngFor="let item of visibleItem" [item]="item" [isLogin]="getLogin()">
  </app-item>
</div>

<div class="shelf" *ngIf="manageMode">
  <app-item (e)="updateData()" *ngFor="let item of items" [item]="item" [isLogin]="getLogin()">
  </app-item>
</div>
